<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>404 - Fridays For Future</title>
</head>
<body> 
  404 - <%= __('404') %>
</body>
